---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_animate";
@import "_font-awesome";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body {
    height:100%;
    padding:0;
    margin:0;   
}

body {
  font: 100%/1.5 'Open Sans', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $darkGray;
  background: $offwhite;  
  position: relative;

  @include tablet {
    font-size: 110%;
  }

  @include desktop {
    font-size: 120%;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}


  
h1 {
    margin: 0;
    padding: 1rem;
    font: 300%/1 $raleway;
    font-weight: 200;
    color: $navy;
}

h2 {
    font-size: 110%;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 1rem;
    color: $gray;
}

h3 {
    font: 1.15em/1 $montserrat;
    padding: 1rem;
    margin: 0;
}

h4 {
    font: .7em/1 $montserrat;
    color: $gray;
    padding: 1rem;
    margin: 0;
    text-transform: uppercase;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* NAVIGATION        */
/*********************/


nav {
    height: $mh;
    position: fixed;
    top: 0;
    left: 0;
    background: $navy;
    width: 100%;    
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    box-sizing: content-box;
    border-top: none;
    border-bottom: 1px solid $navy;


    @include tablet {
        position: absolute;  
        top: 0;
        left: 0;
        border-top: 5px solid $navy;
        border-bottom: 1px solid $lightGray;   
        background: $white;
        top: auto;        
    }

    ul {
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;

        @include tablet {
            width: auto;
        }        
    }

    li {
        display:inline-block;
        margin: 0;
        padding: 0;
        width: 20%;   
        height: 100%;     
        text-align: center;
        vertical-align: middle; 
       

        @include tablet {
            width: auto;
            text-align: left;
            padding: 0 1rem;
        }

        a {
            font-weight: 400;
            font-size: .6em;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            height: 60px;
            vertical-align: middle;
            display: inline-block;
            padding-top: 7px;
            transition: color .2s ease;

            &:hover {
                background: $ltnavy;

                @include tablet {
                  background: none;
                }
            }

            &.current {
                background: $ltnavy;

                @include tablet {
                  background: none;
                }
            }

            @include tablet {
                color: $navy;
                font-family: $montserrat;
                line-height: $mh;
                padding-top: 0;
            }

            img {
                display: none !important;

                @include tablet {
                  display: inherit !important;
                  height: 45px;
                  width: 45px;
                  vertical-align: middle;     
                  padding: 0;
                  margin: 0;                   
                }
            }

            i {
              display: block !important;
              padding: 7px 0 0 0 !important;
              margin: 0 !important;

              @include tablet {
                display: none !important;
              }
            }

            div {
              display: inherit;
                @include tablet {
                  display: none !important;
                }

            }
        }
    }  


}

nav.with_hero {
    @include tablet {
      bottom: 0px;
    }

}

nav.f_nav {
    position: sticky;
    position: fixed;
    top: 0;
    bottom: inherit;
    bottom: auto;
    z-index: 200;    
}

.socials {
    display: none;

    @include tablet {
        position: absolute;
        display: block;
        top: 0;            
    }

    a {
        color: $navy;
        padding: 0 .125em;
        transition: color .2s ease;
        line-height: $mh;
        &:hover {
            color: $blue;
        }
    }
}

nav .socials {
    display: none;

    @include tablet {
        display: block;
        right: 0;
        padding: 0 20px;
    }
}

.logo .socials {
    
    position: relative;
    text-align: center;
    display: block;

    @include tablet {
        display: none;
    }

    a {
        line-height: 2em;
    }

    a:hover {
        color: $white;
    }

}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/



#content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    div {
        min-height: 500px;
    }
}

#hero {
    background: #22618c url('../images/dots.png') center top;
    width: 100%;
    height: 100%;
    min-height: 275px;
    border-bottom: 5px solid $navy;
    display: table;
    transition: all .2s ease;

    @include tablet {
        border-top: 5px solid $navy;
    }

    h1 {
        font: 100%/1 $raleway;
        font-weight: 700;  
        color: white;  
        font-size: 1.5em;
        text-align: center;
        padding: .35em;
        margin: 0;
        text-shadow: 0px 0px 6px rgba(0,17,28,.75);
    }

    h2 {
        font: .7em/1 $montserrat;
        font-weight: 400;
        color: $navy;
        text-align: center;
        margin: 0;
        padding: 0 0 .5em 0;
        text-transform: uppercase;
    }

    .logo { 
        text-align: center;
        padding: 0;
        margin: -65px 0 0 0;
        width: 100px;

        @include tablet {
            width: 125px;
        }

        @include desktop {
            width: 150px;
        }
    }

}

#hero div.logo {
    display: table-cell;
    vertical-align: middle;    
    text-align: center;
    width: 100%;
}


footer {
  height: 150px;
  display: table;
  width: 100%;


  div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $gray;
    font-size: .5em;


    span {
      display: block;
      line-height: 2em;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";