---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_animate";
@import "_font-awesome";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body {
    height:100%;
    padding:0;
    margin:0;   
}

body {
  font: 100%/1.5 'Open Sans', sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  color: $darkGray;
  background: $offwhite;  
  position: relative;

  @include tablet {
    font-size: 110%;
  }

  @include desktop {
    font-size: 120%;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}


  
h1 {
    margin: 0;
    padding: 1.5em 0 0;
    font: 300%/1 $raleway;
    font-weight: 200;
    color: $navy;

    strong {
        font-weight: 200;
        color: $blue;
    }
}

h2 {
    font-size: 110%;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0 0;
    color: $gray;
}

h3 {
    font: 1.15em/1 $montserrat;
    padding: 1rem 0 0;
    margin: 0;
}

h4 {
    font: .7em/1 $montserrat;
    color: $gray;
    padding: .5rem 0;
    margin: 0;
    text-transform: uppercase;
}

p {
  margin: 0;
  padding: 1rem 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* NAVIGATION        */
/*********************/


nav {
    height: $mh;
    position: fixed;
    top: 0;
    left: 0;
    background: $navy;
    width: 100%;    
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    box-sizing: content-box;
    border-top: none;
    border-bottom: 1px solid $navy;
    z-index: 300;

    @include tablet {

        top: auto;
        left: 0;
        border-top: 5px solid $navy;
        border-bottom: 1px solid $lightGray;   
        background: $white;     
    }

    ul {
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;

        @include tablet {
            width: auto;
        }        
    }

    li {
        display:inline-block;
        margin: 0;
        padding: 0;
        width: 20%;   
        height: 100%;     
        text-align: center;
        vertical-align: middle; 
       

        @include tablet {
            width: auto;
            text-align: left;
            padding: 0 1rem;
        }

        a {
            font-weight: 400;
            font-size: .6em;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            height: 60px;
            vertical-align: middle;
            display: inline-block;
            padding-top: 7px;
            transition: color .2s ease;

            &:hover {
                background: $ltnavy;

                @include tablet {
                  background: none;
                }
            }

            &.current {
                background: $ltnavy;
                color: $blue;

                @include tablet {
                  background: none;
                }
            }

            @include tablet {
                color: $navy;
                font-family: $montserrat;
                line-height: $mh;
                padding-top: 0;
            }

            img {
                display: none !important;

                @include tablet {
                  display: inherit !important;
                  height: 45px;
                  width: 45px;
                  vertical-align: middle;     
                  padding: 0;
                  margin: 0;                   
                }
            }

            i {
              display: block !important;
              padding: 7px 0 0 0 !important;
              margin: 0 !important;

              @include tablet {
                display: none !important;
              }
            }

            div {
              display: inherit;
                @include tablet {
                  display: none !important;
                }

            }
        }
    }  


}

nav.with_hero {
    @include tablet {
      position: absolute;
      bottom: 0px;
    }

}

nav.f_nav {
    position: sticky;
    position: fixed;
    top: 0;
    bottom: inherit;
    bottom: auto;
    z-index: 200;    
}

.socials {
    display: none;

    @include tablet {
        position: absolute;
        display: block;
        top: 0;            
    }

    a {
        color: $navy;
        padding: 0 .125em;
        transition: color .2s ease;
        line-height: $mh;
        &:hover {
            color: $blue;
        }
    }
}

nav .socials {
    display: none;

    @include tablet {
        display: block;
        right: 0;
        padding: 0 20px;
    }
}

#about .socials {
    
    position: relative;
    display: block;
    right: 0;
    padding: 0;
    margin: 0;
        

    a {
        line-height: 1em;
    }
}

.logo .socials {
    
    position: relative;
    text-align: center;
    display: block;

    @include tablet {
        display: none;
    }

    a {
        line-height: 2em;
    }

    a:hover {
        color: $white;
    }

}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/



#content {
    width: 100%;

}

#works, #skills, #about, #contact {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
}

#skills, #about {
    background: $white;
}

#hero {
    background: #22618c url('../images/dots.png') center top;
    width: 100%;
    height: 100%;
    min-height: 275px;
    border-bottom: 5px solid $navy;
    display: table;
    transition: all .2s ease;

    @include tablet {
        border-top: 5px solid $navy;
    }

    h1 {
        font: 100%/1 $raleway;
        font-weight: 700;  
        color: white;  
        font-size: 1.5em;
        text-align: center;
        padding: .35em;
        margin: 0;
        text-shadow: 0px 0px 6px rgba(0,17,28,.75);
    }

    h2 {
        font: .7em/1 $montserrat;
        font-weight: 400;
        color: $navy;
        text-align: center;
        margin: 0;
        padding: 0 0 .5em 0;
        text-transform: uppercase;
    }

    .logo { 
        text-align: center;
        padding: 0;
        margin: -65px 0 0 0;
        width: 100px;

        @include tablet {
            width: 125px;
        }

        @include desktop {
            width: 150px;
        }
    }

}

#hero div.logo {
    display: table-cell;
    vertical-align: middle;    
    text-align: center;
    width: 100%;
}

#project {
    h1 {
        padding-top: 2.5em;
    }

    h3 {
        display: inline-block;
        @include desktop {
            display: block;
            background: $navy;
            color: $white;
            padding: 1rem .5rem;
            margin-top: 1em;
            font: .8em/1 $montserrat;
            text-transform: uppercase;       
        }
        &:after {
            content: ':';

            @include desktop {
                content: '';
            }
        }
    }
}


.column {
    padding: 0rem;

    @include desktop {
        float: left;
        padding: 0 1.5rem;
    }
}

.column img {
    padding: 1rem 0;
}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { 
    @include desktop {
        width: 50%; 
    }
}
.column.third { width: 33.3%; }
.column.fourth {

    @include desktop {
        width: 25%; 
      
    }
}   
.column.eighth { width: 12.5%; }
.column.seven-eighths { width: 87.5%; }
.column.three-fourths { 
    @include desktop {
        width: 75%; 
    }
}
.column.flow-opposite { float: right; } 

.row {
    padding: .5rem 0 2rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;    
}

footer {
  height: 150px;
  display: table;
  width: 100%;


  div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $gray;
    font-size: .5em;


    span {
      display: block;
      line-height: 2em;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

a.button, .button {
    padding: .7em 1.5em;
    margin: 1em 0;
    color: $white;
    background: $blue;
    text-decoration: none;
    font-family: $montserrat;
    font-weight: 400;
    font-size: .9em;
    display: inline-block;
    border:  solid 2px $blue;
    transition: all .2s ease;
    border-radius: 3px;
}

a.button:hover, .button:hover {
    color:$blue;
    background: $white;

}

.skill {
    display: block;
    margin-top: 1em;
    padding-bottom: .5em;
}


.skill * {
    margin-left: 95px;
}

.design {
    background: url('../images/service-design.svg') -.25em 1em no-repeat;
}
.development {
    background: url('../images/service-development.svg') -.25em 1em no-repeat;
}
.hosting {
    background: url('../images/service-hosting.svg') -.25em 1em no-repeat;
}
.ecommerce {
    background: url('../images/service-ecommerce.svg') -.25em 1em no-repeat;
}
.tuition {
    background: url('../images/service-tuition.svg') -.25em 1em no-repeat;
}
.apps {
    background: url('../images/service-apps.svg') -.25em 1em no-repeat;
}

/* Basic Grey */
.basic-grey {
    padding-top: 1em;
    margin: auto;
}

.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    display: none;
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: $gray;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #ddd;
    color: $gray;
    height: 55px;
    margin-bottom: 16px;
    margin-right: 6px;
    outline: 0 none;
    padding: 4px 4px 0 15px;
    width: 100%;
    font: 1em/1.5 $openSans;

}

.basic-grey input[type="text"]:focus, .basic-grey input[type="email"]:focus, .basic-grey textarea:focus {
    border: 1px solid $blue;
}

.basic-grey textarea{
    padding: 12px 4px 4px 15px;
    height:200px;
}

.inquire {
    margin-top: 2em;
    @include desktop {
        margin-left: 2em;
        display: block;
        margin-top: 0;
        padding-bottom: .5em;            
    }

}

.photo {
    background: $lightGray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 1em auto;
    float: left;

    @include desktop {
        float: none;
        width: 150px;
        height: 150px;
    }

    img {
        margin: 0;
        padding: 0;
    }

}

.aboutDetails {

    margin: 1em 0 0 1em;
    float: left;
    @include desktop {
        float: none;
        margin: 0;
        text-align: center;
    }

    .button {

        font-size: .75em;


        @include desktop {
            float: none;
        }
    }
}


.projectDetails {

    ul {
        display: inline;
        padding: 0 0 1em 0;
        margin: 0;

        @include desktop {
            list-style: none;
            
        }
    }

    li {
        display: inline;
        padding: .5rem 0;
        margin: .5rem 0;
        font-size: .9em;
        color: $gray;

        &:before {
            content: '|';
            @include desktop {
                content: none;
            }
        }

        &:first-child {
            &:before {
                content: none;           
            }
        }
          

        @include desktop {
            display: block;
            padding: .5rem;
            background: $lightGray;
            text-transform: uppercase;
            font: .7em/1 $montserrat;
                  
        }
    }

    .button {
        font-size: .75em;
        display: block;
        text-align: center;
        margin-top: 3em;
    }
}

#disqus_thread {
    padding-top: 4em;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";