---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_animate";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body {
    height:100%;
    padding:0;
    margin:0;   
}

body {
  font: 100%/1.5 'Open Sans', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #555;
  background: $offwhite;  

  @include tablet {
    font-size: 110%;
  }

  @include desktop {
    font-size: 120%;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}


  
h1 {
    margin: 0;
    padding: 1rem;
    font: 300%/1 $raleway;
    font-weight: 200;
    color: $navy;
}

h2 {
    font-size: 110%;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 1rem;
    color: $gray;
}

h3 {
    font: 1.15em/1 $montserrat;
    padding: 1rem;
    margin: 0;
}

h4 {
    font: .7em/1 $montserrat;
    color: $gray;
    padding: 1rem;
    margin: 0;
    text-transform: uppercase;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* NAVIGATION        */
/*********************/


nav {
    display: table;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;    
    background: $navy;
    width: 100%;    
    -webkit-transform: translateZ(0);
    box-sizing: content-box;
    border-top: 5px solid #00111C;

    @include tablet {
        position: absolute;  
        border-bottom: 1px solid #eee;   
        background: #fff;
        top: auto;        
    }

    ul {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 .4rem;
        
        text-align: center;

        @include tablet {
            text-align: left;
            margin: 0 1rem;
        }

        a {
            font-weight: 400;
            font-size: .7em;
            padding: 0;
            margin:0;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s ease;

            @include tablet {
                color: #00111C;
                font-family: 'Montserrat', sans-serif;
            }

            .curent {
                color: red;
            }

            img {
                height: 45px;
                width: 45px;
                vertical-align: middle;
                transition: all .25s ease;                
            }
        }
    }  
}

nav.with_hero {
    bottom: 0;
}

nav.f_nav {
    position: sticky;
    position: fixed;
    top: 0;
    z-index: 200;    
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/
#content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    div {
        min-height: 500px;
    }
}



#hero {
    background: #22618c url('../images/dots.png') center top;
    width: 100%;
    height: 100%;
    min-height: 275px;
    border-bottom: 5px solid #00111C;
    display: table;
}

#hero div.logo {
    display: table-cell;
    vertical-align: middle;    
    text-align: center;
    width: 100%;
}


footer {
  min-height: 150px;
  display: table;
  width: 100%;
}

footer div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $gray;
  font-size: .5em;
}

footer div span {
  display: block;
  line-height: 2em;
}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";