	                <div class="row clearfix ">
	                    <div class="column full">                
	                        <h1>About<strong> Me</strong></h1>
	                        <h2>Some catchy subheading goes here</h2>
	                    </div>
	                </div>
                    <div class="row clearfix">
                      	
                        <div class="column three-fourths">
                            <p>Bacon ipsum dolor sit amet brisket filet mignon t-bone, chicken sausage jerky venison shoulder beef beef ribs pork chop. Shank hamburger ground round shoulder leberkas turkey biltong. Bresaola pork chicken meatball. Beef ribs ball tip tenderloin pastrami drumstick biltong strip steak pancetta shank boudin porchetta short loin shoulder jerky.</p>
                            <p>Shankle tenderloin rump, bacon jowl hamburger shoulder boudin. Shoulder salami turducken, flank leberkas prosciutto t-bone. Venison drumstick chicken cow salami swine shoulder kielbasa sirloin capicola fatback kevin ball tip flank. Drumstick sausage hamburger tongue short ribs filet mignon biltong boudin. Turkey fatback brisket tongue bresaola pancetta pig strip steak t-bone filet mignon beef ribs venison tri-tip meatloaf.</p>
                            <p>Short ribs kevin chuck doner rump turkey filet mignon sirloin shank beef ribs jerky. Tri-tip tongue filet mignon, ribeye pancetta hamburger bacon andouille venison flank sirloin turkey ground round short loin doner. Pastrami bacon shoulder pork chop meatloaf rump. Salami t-bone rump, doner turkey meatball tail cow pork belly pig. Fatback sirloin beef ribs pork chop kevin prosciutto bresaola tongue cow jowl short loin ham meatloaf. Prosciutto frankfurter cow capicola ham hock, drumstick strip steak spare ribs ham porchetta hamburger. Doner brisket beef ribs pig sirloin.</p>
                        </div>
                        <div class="column fourth">
                            <div class="photo"><img src="images/cf.svg" class="logo wow bounceIn"></div>
	                        <div class="aboutDetails">
	                            <h4>Some Text Goes Here</h4>

					            <a href="#" class="button">Vist My Blog</a>
				        	</div>
				            
                        </div>                      
                    </div>