	                <div class="row clearfix ">
	                    <div class="column full">                
	                        <h1>About<strong> Me</strong></h1>
	                        <h2>Some catchy subheading goes here</h2>
	                    </div>
	                </div>
                    <div class="row clearfix">
                      	
                        <div class="column three-fourths">
							<p>Hello there, I&rsquo;m Charlie Fox, the self-taught, not so famous UI / UX / Web &amp; Graphic Designer, founder of OakSeven. I&rsquo;m an Architectural Technologies graduate who&rsquo;s making a living out of graphic design. Currently I live in Southern California and i have enjoyed doing multidisciplinary design for more than 7 years now.</p>
							<p>I use the Adobe Master Collection Suite for my projects and i often space out thinking about innovation. I don&rsquo;t enjoy rushing into a project, because I believe the final product should make both the client and I proud. I choose the projects i work on and i&rsquo;m responsible for their well-being from start to finish. Wanna do a project together ?</p>
                        </div>
                        <div class="column fourth">
                            <div class="photo"><img src="images/cf.svg" class="logo wow bounceIn"></div>
	                        <div class="aboutDetails">
	                            <h4>Some Text Goes Here</h4>

					            <a href="/blog" class="button">Vist My Blog</a>
				        	</div>
				            
                        </div>                      
                    </div>