                    <div class="row clearfix">
                        <div class="column full">                
                            <h1>Contact<strong> Me</strong></h1>
                            <h2>Some catchy subheading goes here</h2>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="column half">
                            <form action="http://getsimpleform.com/messages?form_api_token=4c6564e273a01710cae723b9f5516f1b" method="post" class="basic-grey" >
                                <input type='hidden' name='redirect_to' value='http://127.0.0.1/cf4/thanks.html' />
                                <label>
                                    <span>Your Name :</span>
                                    <input id="Name" name="Name" type="text" placeholder="Your Full Name" required />
                                </label>
                                <label>
                                    <span>Your Email :</span>
                                    <input id="Email" name="Email" type="email" placeholder="Valid Email Address" required />
                                </label>
                                <label>
                                    <span>Message :</span>
                                    <textarea id="Message" name="Message" placeholder="Your Message" required></textarea>
                                </label> 
                                <input type="submit" value="Submit" class="button" />
                            </form>
                        </div>
                        <div class="column half">
                            <div class="inquire wow bounceIn">
                                <h3>Planning a Project?</h3>
                                <p>Turducken short ribs t-bone shank tri-tip strip steak porchetta meatball pork brisket prosciutto pig tongue flank. Turducken pastrami ball tip, landjaeger meatball ham swine. Cow tail jerky turducken salami frankfurter.</p><a href="project.html" class="button">Launch Project Planner</a>
                            </div>
                        </div>                        
                    </div>