                <div class="row clearfix">
                    <div class="column full">                
                        <h1>Things<strong> I Can Do</strong></h1>
                        <h2>Some catchy subheading goes here</h2>
                    </div>
                </div>
                <div class="row clearfix ">
                    <div class="column half wow fadeIn">
                        <div class="skill design">           
                            <h3>Service Title</h3>
                            <p>Bacon ipsum dolor sit amet commodo dolor minim, deserunt pork loin in ball tip ground round turducken andouille occaecat ea. Dolore incididunt corned beef velit voluptate leberkas.</p>
                        </div>
                    </div>
                    <div class="column half wow fadeIn">
                        <div class="skill development">
                            <h3>Service Title</h3>
                            <p>Enim corned beef pork loin ad, tail minim dolore shank tri-tip frankfurter bacon in proident ut brisket. Velit aliquip sunt chicken eu in hamburger. Shankle dolore strip steak eiusmod shoulder salami, ullamco sint leberkas turkey aute est sausage. Bacon turkey consequat jerky short ribs.</p>
                        </div>
                    </div>

                    <div class="column half wow fadeIn">
                        <div class="skill hosting">
                            <h3>Service Title</h3>
                            <p>Bacon ipsum dolor sit amet commodo dolor minim, deserunt pork loin in ball tip ground round turducken andouille occaecat ea. Dolore incididunt corned beef velit voluptate leberkas.</p>
                        </div>
                    </div>
                    <div class="column half wow fadeIn">
                        <div class="skill ecommerce">
                            <h3>Service Title</h3>
                            <p>Enim corned beef pork loin ad, tail minim dolore shank tri-tip frankfurter bacon in proident ut brisket. Velit aliquip sunt chicken eu in hamburger. Shankle dolore strip steak eiusmod shoulder salami, ullamco sint leberkas turkey aute est sausage. Bacon turkey consequat jerky short ribs.</p>
                        </div>
                    </div>

                    <div class="column half wow fadeIn">
                        <div class="skill tuition">
                            <h3>Service Title</h3>
                            <p>Bacon ipsum dolor sit amet commodo dolor minim, deserunt pork loin in ball tip ground round turducken andouille occaecat ea. Dolore incididunt corned beef velit voluptate leberkas.</p>
                        </div>
                    </div>
                    <div class="column half wow fadeIn">
                        <div class="skill apps">
                            <h3>Service Title</h3>
                            <p>Enim corned beef pork loin ad, tail minim dolore shank tri-tip frankfurter bacon in proident ut brisket. Velit aliquip sunt chicken eu in hamburger. Shankle dolore strip steak eiusmod shoulder salami, ullamco sint leberkas turkey aute est sausage. Bacon turkey consequat jerky short ribs.</p>
                        </div>
                    </div>
