
//
// VARIABLES
//

// Colors
$blue: #3084b2; 
$navy: #00111C;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #aaa;
$lightGray: #eee;
$white: #fff;
$offwhite: #fbfbfb;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$montserrat: Montserrat, sans-serif;
$raleway: Raleway, sans-serif;
$openSans: "Open Sans", sans-serif;

// Mobile breakpoints
@mixin tablet {
  @media screen and (min-width: 35em) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 55em) {
    @content;
  }
}